<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'user_logout' %}"> Logout </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}"> Sign up </a>
                </li>
                <li>
                    <a href="{% url 'user_login' %}"> Login </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Expense category list view</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for i in account_data %}
                <tr>
                    <td>{{ i.account.name }}</td>
                    <td>{{ i.account.number }}</td>
                    <td>{{ i.account.name|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
