<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'user_logout' %}"> Logout </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}"> Sign up </a>
                </li>
                <li>
                    <a href="{% url 'user_login' %}"> Login </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            <tbody>
                {% for i in receipt_data %}
                <tr>
                    <td>{{i.vendor}}</td>
                    <td>{{i.total}}</td>
                    <td>{{i.tax}}</td>
                    <td>{{i.date|date:"m/d/y"}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.account}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
